$baseFontSize: 14px;

//colors
$black: #000;
$white: #fff;
$red: #D83145;
$green: #156208;
$yellow: #FFE500;
$blue: #284180;



//fonts
$default: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";


